.main{
  background: url('../../../../assets/img/login/login.jpg') center center fixed;
  background-size: cover;
  min-height:calc(100vh - 3.1em);
  background-color: black;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
