.note-form-container {
  text-align: left;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: var(--width-min-jd1);
  max-width: var(--width-max-jd1);
}

.note-title-field {
  font-weight: bold;
}

.note-title-field, .node-text-field, .additional-info-block {
  width: 100%;
}


.nav-link{
  width: max-content;
  padding: 0.5rem 1rem 0.5rem 0;
}

.node-text-field {
  overflow-y: hidden;
}

.note-form-button {
  cursor: pointer;
  min-width: 12em;
}

.additional-info-block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.note-photo-badge {
  margin-top: -1em;
}

.note-form-photo {
  max-height: 8em;
}

.picture-container--wrapper {
  display: flex;
  flex-wrap: wrap
}

.picture-container {
  float: left;
  display: flex;
  margin: 0.5em 0.1em;
}

.picture-button {
  margin: 0 5px;
}

.picture-button i {
  cursor: pointer;
  display: block;
  margin-bottom: 3px;
}

.image_not_loaded {
  width: max-content;
}

.upload-wrapper {
  position: relative;
  min-width: 10em;
  margin: 0.5em 0.1em;
}

.upload-wrapper:before {
  content: '';
  display: block;
  padding-top: 100%;
}

nz-upload {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.url-title {
  display: flex;
}

form {
  height: 100%;
  display: grid;
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.footer .buttons {
  min-width: 30%;
}

nz-tabset {
  width: 100%;
}
