.note-form-container {
  text-align: left;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.note-title-field {
  font-weight: bold;
}

.note-title-field, .node-text-field, .additional-info-block {
  width: 100%;
}

.node-text-field{
  overflow-y: hidden;
}

.note-form-button {
  cursor: pointer;
}

.additional-info-block {
  display: flex;
  align-items: end;
  justify-content: center;
}

.note-photo-badge {
  margin-top: -1em;
}

.note-form-photo {
  max-height: 8em;
  padding: 0.2em
}

.picture-container {
  float: left;
  display: flex;
  padding: 0.2em;
  margin: 0.1em;
  cursor: pointer
}

nz-upload {
  padding: 20px 0;
}

.url-title {
  display: flex;
}

form {
  height: 100%;
  display: grid;
  overflow-y: scroll;
}

.main-section {
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

nz-tabset{
  width: 100%;
}
