<nz-content style="height:calc(100vh - 3.1em)" class="scrollbar my_scroll main__wrapper" infiniteScroll
            [infiniteScrollDistance]="1.9"
            [infiniteScrollThrottle]="900"
            (scrolled)="parent.getMoreNotesData()"
            [scrollWindow]="false">
  <div class="list-container">
    <div class="notes-list-header">
      <div style="visibility: hidden"></div>
      <nz-radio-group class="item-type"
                      nzButtonStyle="solid"
                      [(ngModel)]="listType"
                      (ngModelChange)="parent.changeListType($event)">
        <label nz-radio-button nzValue="note">Заметки</label>
        <label nz-radio-button nzValue="tag">Теги</label>
        <label nz-radio-button nzValue="file">Файлы</label>
        <label nz-radio-button nzValue="file2">Файлы2</label>
      </nz-radio-group>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input nz-input
               type="text"
               class="search_note_input border1"
               placeholder="Поиск"
               [(ngModel)]="notesSearchString"
               (ngModelChange)="parent.onSearchNoteInputChange($event)"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>

    <section class="image-card__wrapper">
      <div *ngFor="let note of items" class="image-card" (click)="open(note.id)">
        <img *ngIf="note.image_url; else image_plug" [src]="note.image_url" [alt]="'Image - ' + note.title">
        <ng-template #image_plug>
          <div class="image-plug">
            <div>Hasn't image</div>
          </div>
        </ng-template>
        <div class="image-card__title">
          <div [innerHTML]="note.title | TextContentTruncate: 30"></div>
        </div>
      </div>
    </section>

  </div>
</nz-content>
