.footer {
  position:absolute;
  bottom:0;
  width:100%;
}

nz-badge {
  margin-right: 20px;
}

.image_style{
	width		: 100%;
}

.image_not_loaded{
  margin-left: 1.2em;
  width		: 100%;
  margin-top: -2em;
  z-index: 2;
}

.not_loaded{
  border-style: solid;
  border-color: yellow;
}

.not_deleted{
  border-style: solid;
  border-color: red;
}


.delete_picture{
  margin-right: 1.2em;
  float: right;
  z-index: 2;
}
