<nz-select nzMode="tags"
           [nzPlaceHolder]="placeholder"
           class="note-tags-field"
           [ngModel]="value"
           #nzSelectComponent
           (ngModelChange)="addTag($event)"
           [nzLoading]="loading">
  <ng-container *ngIf="tags$ | async as tags">
    <nz-option *ngFor="let tag of tags"
    [nzValue]="tag.id"
    [nzLabel]="tag.title"
    nzCustomContent
    >
    <span nz-tooltip [nzTitle]='tag.text || ""'>{{tag.title}}</span>
  </nz-option>
  </ng-container>
</nz-select>

<nz-modal [(nzVisible)]="confirmPopupVisibility"
          (nzOnOk)="createTag()"
          (nzOnCancel)="onCancel()">
Тег '<b>{{newTagName}}</b>' не существует. Создать его?
</nz-modal>
