<nz-layout>
  <nz-content *ngIf="note">
    <div class="edit" *ngIf="note">
      <span nz-typography (click)="editNote(noteId)">
        <kbd>Редактировать</kbd>
        </span>
    </div>
    <h2 nz-typography *ngIf="note.title">{{note.title}}</h2>
    <div *ngIf="note.tags">
      <nz-tag
        *ngFor="let tag of note.tags"
        nzColor="orange"
        [title]="tag.title || ''"
      >
        {{tag.title}}
      </nz-tag>
    </div>
    <p nz-typography *ngIf="note.url">URL(s):
      <span nz-typography *ngFor="let url of note.url">
        <a href="{{url}}" target="_blank">
          {{url}}
          <Link />
        </a>{{note.url.length > 1 && note.url.indexOf(url) !== note.url.length - 1 ? ', ' : ''}}
      </span>
    </p>
    <div nz-typography *ngIf="note.text" [innerHTML]="displayText(note.text)"></div>

    <div *ngIf="store.data.note.files.length" style="border-top: 1px dashed lightgray; width: 100%; margin: 1rem 0;"></div>

    <div class="popup-gallery">
      <a *ngFor="let photo of store.data.note.files; let i = index" [href]='photo.src'><img [src]="photo.src"></a>
    </div>
  </nz-content>
</nz-layout>
