nz-layout {
  height: 100%;
  overflow-y: auto;
}

nz-content {
  text-align: left;
  margin: 1rem 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 25px;
  min-height: auto;
  position: relative;
}

/* hide the last breadcrumb-title, but leave its breadcrumb-separator */
nz-breadcrumb-item:last-child a {
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  display: inline-block;
  margin-right: 1rem;
}

.disable-link {
  text-decoration: none;
  color: black;
}

nz-tag {
  margin-bottom: 1rem;
  cursor: pointer;
}

.popup-gallery img {
  margin-right: 0.5rem;
  border: 0.2em solid lightgray;
  max-height: 210px;
  max-width: 350px;
}
