nz-layout {
  height: 100%;
  overflow-y: auto;
}

nz-content {
  text-align: left;
  margin: 1rem 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 25px;
  min-height: auto;
  position: relative;
}

h2 {
  display: inline-block;
}

.header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h2{
  margin-right: 1rem;
}

.header span{
  margin-bottom: 0.5em;
}

.link{
  cursor: pointer;
}

nz-breadcrumb{
  margin-bottom: 0.5em;
}

nz-breadcrumb-item:last-child{
  cursor: auto;
}

nz-tag {
  margin-bottom: 1rem;
  cursor: pointer;
}

.popup-gallery img {
  margin-right: 0.5rem;
  border: 0.2em solid lightgray;
  max-height: 210px;
  max-width: 350px;
}
