<div>
  <nz-layout style="height:calc(100vh - 3.1em)" class="flex-center" nzTheme="dark">
    <nz-sider class="scrollbar my_scroll">
      <h3 class="white-text">Фильтр</h3>
      <span>Включает:</span>
      <app-tags [value]="searchTags" (valueChanged)="filterNotesTag($event, true)"></app-tags>
      <br>
      <label nz-checkbox
             [ngModel]="useTagsL"
             (ngModelChange)="useTagsLCheckbox()" class="white-text use_tags_l">Косвенное включение</label>
      <br><br>
      <span>Исключает:</span>
      <app-tags [value]="excludedTags" (valueChanged)="filterNotesTag($event, false)"></app-tags>
    </nz-sider>
    <div *ngIf="store.data.notes.isDownloadNotes || wait"
         style="margin: auto">
      <i nz-icon
         nzType="loading"
         style="font-size: 38px; color:orange;"
      ></i>
    </div>
    <ng-container *ngIf="!wait">
      <nz-content *ngIf="listType === 'file2'; else main">
        <app-items-view
          [notesSearchString]="notesSearchString"
          [items]="items"
          [listType]="listType"
        ></app-items-view>
      </nz-content>
    </ng-container>
  </nz-layout>

  <ng-template #main>
    <app-notes
      [searchTags]="searchTags"
      [useTagsL]="useTagsL"
      [notesSearchString]="notesSearchString"
      [items]="items"
      [listType]="listType"
      [allTags]="allTags"></app-notes>
  </ng-template>
</div>



