html {
  min-width: 576px;

  //You can change parameters --max-size and --sidebar-width here
  --max-size: 31cm;
  //If you change sidebar width use nz-width into nz-sider, cause there are 200px by default
  --sidebar-width: 200px;
  //If you will add new sidebar, you have to add sidebar2-width (for second sidebar) here and add into row under
  //this sentence '+ var(--sidebar2-width)'
  --all-sidebars: var(--sidebar-width);
}

.scrollbar {
  background: #F5F5F5;
  overflow-y: hidden;
  padding-left: 0.35em;
}


.my_scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.my_scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.my_scroll::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.sidebar__wrapper {
  width: var(--sidebar-width);
  background-color: rgb(27, 23, 49);
}

.main__wrapper {
  width: calc(100vw - var(--all-sidebars));
  max-width: var(--max-size);
}

.wrapper-without-sidebar {
  max-width: var(--max-size);
}

.main {
  width: 100%;
}

.sidebar {
  width: 100%;
  padding: 0 0.5rem;
}

.app-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 100ms linear appear;

  i {
    font-size: 38px;
    color: orange;
    display: block;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
