<nz-layout style="height:calc(100vh - 3.1em)" nzTheme="dark">
  <nz-sider class="scrollbar my_scroll">
    <h3 class="white-text">Фильтр</h3>
    <span>Включает:</span>
    <app-tags [value]="searchTags" (valueChanged)="filterNotesTag($event, true)"></app-tags>
    <br><br>
    <span>Исключает:</span>
    <app-tags [value]="excludedTags" (valueChanged)="filterNotesTag($event, false)"></app-tags>
  </nz-sider>
  <nz-content style="height:calc(100vh - 3.1em)" class="scrollbar my_scroll" infiniteScroll
              [infiniteScrollDistance]="1.9"
              [infiniteScrollThrottle]="900"
              (scrolled)="getMoreNotesData()"
              [scrollWindow]="false">
    <div class="list-container">
      <div class="notes-list-header">
        <button nz-button nzType="default"
                class="btn btn-default btn-sm new-item-btn border1"
                [ngClass]="{disabled: listType === 'file'}"
                [disabled]="listType === 'file'"
                (click)="addNote()">
          Добавить
        </button>
        <nz-radio-group class="item-type"
                        nzButtonStyle="solid"
                        [(ngModel)]="listType"
                        (ngModelChange)="crudService.setItemType($event)">
          <label nz-radio-button nzValue="note">Заметки</label>
          <label nz-radio-button nzValue="tag">Теги</label>
          <label nz-radio-button nzValue="file">Файлы</label>
        </nz-radio-group>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input nz-input
                 type="text"
                 class="search_note_input border1"
                 placeholder="Поиск"
                 [(ngModel)]="notesSearchString"
                 (ngModelChange)="onSearchNoteInputChange($event)"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <div *ngIf="store.data.notes.isDownloadNotes"
           style="text-align: center">
        <i nz-icon
           nzType="loading"
           style="font-size: 38px; color:orange;"
        ></i>
      </div>
      <div *ngFor="let note of items" class="note_in_list">
        <div
          (click)="NoteSelect(note.id)"
          [ngClass]="{
            'animated flash updatedNote delay-1s':
              store.data.note.lastUpdatedId === note.id
          }"
          (contextmenu)="contextMenu($event, menu)"
        >
          <div class="note-title-wrapper">
            <div class="note_title">
              <b>{{note.title}}</b>
              <span *ngIf="note.urlHtml" [innerHTML]="note.urlHtml"></span>
            </div>
            <div>
              <i
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="menu"
                nz-icon
                nzType="more"
                nzTheme="outline"
                nz-tooltip
                class="more_note"
                nzTooltipPlacement="left"
              ></i>
              <div class="note_time"
                   nzTooltipTitle="Время последнего редактирования"
                   nzTooltipPlacement="left"
                   nz-tooltip>
                {{note.ts_updated_ms | date:'dd.MM.yyyy HH:mm:ss'}}
              </div>
            </div>
          </div>
          <table class="note_small">
            <tr>
              <td *ngIf="note.image_url">
                <img src="{{note.image_url}}" class="note_img"/>
              </td>
              <td>
                <div [innerHTML]="note.text  | TextContentTruncate :400"></div>
              </td>
            </tr>
          </table>

          <nz-tag
            *ngFor="let tag of note.tags"
            nzColor="orange"
            class="tag_in_note"
            [title]="tag.text || ''"
          >
            {{tag.title}}
          </nz-tag>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="copyURL(note.id, note.title)">
              Копировать URL
            </li>
            <li nz-menu-item (click)="NoteSelect(note.id)">Редактировать</li>
            <li nz-submenu nzTitle="Теги" *ngIf='note.tags.length'>
              <ul>
                <li nz-submenu nzTitle="Включить">
                  <ul>
                    <li
                      nz-menu-item
                      *ngFor="let tag of note.tags"
                      nzColor="orange"
                      class="tag_in_note"
                      (change)="changeCheckbox(tag.id, true)"
                      nz-row
                    >
                      <label nz-checkbox [(ngModel)]="tag.checked">
                        {{ tag.title }}
                      </label>
                    </li>
                  </ul>
                </li>
                <li nz-submenu nzTitle="Исключить">
                  <ul>
                    <li
                      nz-menu-item
                      *ngFor="let tag of note.tags"
                      nzColor="red"
                      class="tag_in_note"
                      nz-row
                      (click)="changeCheckbox(tag.id, false)"
                    >
                      {{ tag.title }}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li nz-menu-item (click)="deleteItem(note.id, $event)">
              Удалить
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div *ngIf="store.data.notes.downloadMore" style="text-align: center;">
        <i nz-icon
           nzType="loading"
           style="font-size: 38px; color:orange;"></i>
      </div>

    </div>
  </nz-content>
</nz-layout>
