:host {
  text-align: left;
}

ul{
  list-style-type: none;
}

[nz-icon] {
  font-size: 18px;
}

.note_img{
  max-width:150px;
  max-height: 200px;
  height: auto;
  width: auto;
  object-fit: contain;
  vertical-align: top;
  padding-bottom: 0.2em;
}

.note_small tr td{
 vertical-align: top;
  padding: 5px;
}

.del_note{
 float: right;
}

.del_note:hover{
 color:red;
}

.delete_tag{
 color:transparent;
}

.delete_tag:hover{
 color:red;
}

.note-title-wrapper {
  background-color:#C4C4C4;
  color: black;
  display: flex;
  border-bottom: 0.1em solid gray;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.note-title-wrapper div:last-child{
  display: flex;
  flex-direction: row-reverse;
}

.item-type {
  margin: auto;
}

.note_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note_time {
  margin-right: 1em;
  float:right;
  white-space: nowrap;
}

.tag_element{
  cursor: pointer;
}

.note_tag{
  margin-left:0.3em ;
}

.note_in_list{
  margin: 0.65em;
  background-color:gainsboro;
  cursor: pointer;
}

.note_in_list {
  border-radius: 0 0 0.4em 0.4em;
}

.note_in_list,.border1{
  border: 0.2em solid grey;
}

.note_in_list:hover{
  border-color: darkblue;
}

.tag_in_note{
  margin:0.16em;
}

.delete_note{
  text-align: right;
  float: right;
  margin-right: 0;
}

.delete_note:hover{
  color: red;
}

.new-item-btn {
  cursor: pointer;
  width: 10em;
}

.new-item-btn.disabled {
  cursor: default;
}

.notes-list-header {
  padding: 8px 7px 0;
  display: grid;
  grid-template-columns: 15em auto 15em;
  align-items: center;
}

.list-container {
  height: 100%;
}

nz-radio-group {
  padding-left: 10px;
}

nz-sider {
  overflow-y: scroll;
  overflow-x:hidden;
  background-color:rgb(27, 23, 49);
  color: white;
}

.white-text {
  color: white;
}
