<nz-layout style="height:calc(100vh - 3.1em)" nzTheme="dark">
  <nz-sider style="overflow-y: scroll;overflow-x:hidden; background-color:rgb(27, 23, 49)" class="scrollbar my_scroll">
    <nz-input-group [nzSuffix]="suffixIconAddTag" nzSize="small">
      <input type="text" nz-input nzSize="small" [(ngModel)]="store.data.tags.createText"
             (keyup.enter)="addTag(store.data.tags.createText)" placeholder="имя нового тега"/>
    </nz-input-group>
    <ng-template #suffixIconAddTag nzSize="small">
      <i nz-icon nzType="plus-circle" (click)="addTag(store.data.tags.createText)" style="cursor:pointer"></i>
    </ng-template>
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="small">
      <input type="text" nz-input nzSize="small" #tagsSearchString placeholder="поиск тегов"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzSize="small" nzType="search"></i>
    </ng-template>
    <ng-container *ngIf="tags$ | async as tags; else loader">
      <div *ngIf="tags.length" class="tags-list">
        <div class="tags-list__item"
             *ngFor="let tag of tags | serch_Tag_Pipe: (tagsSearchString.value)">
          <nz-tag [nzColor]="searchTags.includes(tag.id) ? 'green' : 'orange'"
                  class="tag_in_list"
                  (click)="FilterNotesTag(tag.id)">
            {{tag.title}}
            <i nz-icon
               nzType="close"
               nzTheme="outline"
               nzTooltipTitle="Удалить тег"
               nzTooltipPlacement="right" nz-tooltip
               (click)="deleteTag(tag.id,$event)"
            ></i>
          </nz-tag>
        </div>
      </div>
    </ng-container>
  </nz-sider>
  <nz-content style="height:calc(100vh - 3.1em)" class="scrollbar my_scroll" infiniteScroll
              [infiniteScrollDistance]="1.9"
              [infiniteScrollThrottle]="900"
              (scrolled)="GetMoreNotesData()"
              [scrollWindow]="false">
    <div style="height: 100%;">
      <div style="margin-top:0.4em; margin-left: 0.5em; margin-right: 0.5em;">
        <button (click)="addNote()"
                type="button"
                class="btn btn-primary btn-sm"
                style="cursor:pointer;">Добавить заметку
        </button>
        <nz-input-group [nzSuffix]="suffixIconSearchNote"
                        nzSize="small"
                        style="float: right; width: 13em;">
          <input nz-input
                 nzSize="small"
                 class="search_note_input"
                 placeholder="поиск"
                 [(ngModel)]="notesSearchString"
                 (ngModelChange)="onSearchNoteInputChange($event)" />
        </nz-input-group>
        <ng-template #suffixIconSearchNote>
          <i nz-icon
             nzSize="small"
             nzType="search"
          ></i>
        </ng-template>
      </div>
      <div *ngIf="store.data.notes.isDownloadNotes"
           style="text-align: center">
        <i nz-icon
           nzType="loading"
           style="font-size: 38px; color:orange;"
        ></i>
      </div>
      <div *ngFor="let note of (notes$|async)"
           class="note_in_list">
        <div (click)="NoteSelect(note.id)"
             [ngClass]="{'animated flash updatedNote delay-1s': store.data.note.lastUpdatedId === note.id}">
          <div class="note-title-wrapper">
            <div class="note_title">
              <b>{{note.title| TextContentTruncate}}</b>
              <p *ngIf="note.url">{{"(" + note.url + ")"}}</p>
            </div>
            <i nz-icon
               nzType="delete"
               nzTheme="outline"
               class="delete_note"
               nzTooltipTitle="Удалить заметку"
               nzTooltipPlacement="left"
               nz-tooltip
               (click)="deleteNote(note.id,$event)"
            ></i>
            <div class="note_time"
                 nzTooltipTitle="Время последнего редактирования"
                 nzTooltipPlacement="left"
                 nz-tooltip>
              {{note.ts_updated_ms | date:'dd.MM.yyyy HH:mm:ss'}}
            </div>
            <hr class="note_l1"/>
          </div>
          <table class="note_small">
            <tr>
              <td *ngIf="note.image_url">
                <img src="{{note.image_url}}" class="note_img"/>
              </td>
              <td>
                <div [innerHTML]="note.text  | TextContentTruncate :400"></div>
              </td>
            </tr>
          </table>
          <nz-tag *ngFor="let tag of note.tags"
                  nzColor="orange"
                  class="tag_in_note">
            {{action.Get_Tag_from_Id(tag)}}
          </nz-tag>
        </div>
      </div>
      <div *ngIf="store.data.notes.downloadMore" style="text-align: center;">
        <i nz-icon
           nzType="loading"
           style="font-size: 38px; color:orange;"></i>
      </div>

    </div>
  </nz-content>
</nz-layout>

<ng-template #loader>
  <div class="app-loader">
    <i nz-icon nzType="loading"></i>
  </div>
</ng-template>
